# Ignore virtual environments
.venv/

# Python cache and build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.eggs/
build/
dist/

# Jupyter notebook artifacts
.ipynb_checkpoints/

# macOS system files
.DS_Store

# VS Code settings (optional)
.vscode/

# Logs and temp files
*.log
*.tmp
*.bak

# Hidden system files
Thumbs.db
Desktop.ini
/Demos 2
Publications/Ron_2024/.DS_Store
*.csv
