
*.h5
*.log
config_cluster.yml
config_nas.yml
config_cluster.yml
config_nas.yml
*.tif
*.zip
*.sld
*.npy
config_cluster.yml
config_nas.yml
*.pyc
*.pyc
*.csv
*.json
/src/__pycache__
/src/SequentialSteps/__pycache__
*.pyc
*.yml
/.venv
*.yml
*.index
*.pyc
/src/IndependentSteps/__pycache__
src/IndependentSteps/__pycache__/DataTypeBridges.cpython-312.pyc
src/IndependentSteps/__pycache__/__init__.cpython-312.pyc
src/FinalizationSteps/__pycache__/Saving.cpython-312.pyc
src/__pycache__/Parameters.cpython-312.pyc
src/__pycache__/NASConnection.cpython-312.pyc
src/__pycache__/GeneralStep.cpython-312.pyc
src/SequentialSteps/__pycache__/SpotDetection_Steps.cpython-312.pyc
src/SequentialSteps/__pycache__/Segmentation_Steps.cpython-312.pyc
src/SequentialSteps/__pycache__/CellProperty_Step.cpython-312.pyc
*.pyc
/Pipelines
