absl-py
aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
annotated-types
anyio
app-model
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asciitree
asttokens
attrs
babel
backcall
bcrypt
beautifulsoup4
big-fish
bleach
blosc2
bokeh
botocore
Bottleneck
Brotli
build
cachey
cellpose
celluloid
certifi
cffi
cftime
charset-normalizer
click
cloudpickle
colorama
coloredlogs
comm
contourpy
coverage
cryptography
cycler
dask
dask-expr
dask-image
debugpy
decorator
defusedxml
distributed
docopt
docstring-inheritance
docstring_parser
docutils
exceptiongroup
executing
fasteners
fastjsonschema
fastremap
filelock
fire
flatbuffers
flexcache
flexparser
fonttools
fpdf
fqdn
freetype-py
frozenlist
fsspec
grpcio
h2
h5py
HeapDict
hpack
hsluv
humanfriendly
hyperframe
idna
imagecodecs
imageio
imagesize
importlib_metadata
in-n-out
iniconfig
ipykernel
ipython
isoduration
jedi
Jinja2
jmespath
joblib
joypy
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_proxy
jupyter_server_terminals
jupyterlab_pygments
kiwisolver
lazy_loader
llvmlite
locket
lockfile
loguru
looseversion
luigi
magicgui
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
matplotlib-scalebar
mdurl
mistune
mmpycorex
mpmath
mrc
msgpack
multidict
munkres
napari-console
napari-plugin-engine
napari-plugin-manager
napari-svg
natsort
nbclient
nbconvert
nbformat
ndindex
ndstorage
ndtiff
nest-asyncio
netCDF4
networkx
npe2
numba
numcodecs
numexpr
numpy
numpydantic
numpydoc
ome-zarr
onnx
onnxruntime
onnxruntime-gpu
opencv-python-headless
overrides
packaging
pandas
pandocfilters
paramiko
parso
partd
PartSegCore_compiled_backend
patsy
pickleshare
pillow
PIMS
Pint
pip-tools
pipreqs
platformdirs
pluggy
pooch
prometheus_client
prompt_toolkit
protobuf
psutil
psygnal
pure_eval
py-cpuinfo
pyarrow
pyasn1
pyconify
pycparser
pycromanager==0.29.10
pydantic
pydantic-compat
pydantic_core
Pygments
pyjavaz
pymmcore
PyNaCl
PyOpenGL
pyparsing
pyproject_hooks
PyQt5
PyQt5-Qt5
PyQt5_sip
pyreadline3
pysmb
PySocks
pytest
pytest-cov
python-daemon
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rich
roifile
roman-numerals-py
rpds-py
s3fs
scikit-image
scikit-learn
sciluigi
scipy
seaborn
Send2Trash
setuptools
shellingham
simpervisor
six
slicerator
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack-data
statsmodels
superqt
sympy
tables
tabulate
tblib
tenacity
tensorboard
tensorboard-data-server
termcolor
terminado
threadpoolctl
tifffile
tiffile
tinycss2
tomli_w
toolz
tornado
tqdm
trackpy
traitlets
triangle
typer
types-python-dateutil
typing_extensions
tzdata
ufish
uri-template
urllib3
vispy
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wget
wheel
win-inet-pton
win32-setctime
wrapt
xarray
xyzservices
yarg
yarl
zarr
zict
zipp
zstandard
