app-model
big-fish
bokeh
Bottleneck
Brotli
cachey
cellpose
celluloid
dask-expr
dask-image
exceptiongroup
fpdf
fqdn
h2
h5py
importlib_metadata
isoduration
joypy
jsonpointer
jupyter_server_proxy
magicgui
matplotlib-scalebar
mmpycorex
munkres
napari-console
napari-plugin-engine
napari-plugin-manager
napari-svg
ndstorage
netCDF4
numpydantic
numpydoc
onnxruntime-gpu
paramiko
PartSegCore_compiled_backend
Pint
pip-tools
pipreqs
pooch
pyconify
pycromanager==0.29.10
PyOpenGL
PyQt5
pysmb
PySocks
pytest-cov
s3fs
sciluigi
seaborn
statsmodels
tables
tiffile
torch-directml
torchaudio
trackpy
triangle
ufish
uri-template
webcolors
win-inet-pton
xarray
zstandard